<!DOCTYPE html>

<html>
  	<head>
    	<title>AuteMonitor 网络管理系统</title>
		<link rel="shortcut icon"  />
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<link href="/static/css/bootstrap.css" rel="stylesheet" />
    	<link rel="stylesheet" type="text/css" href="/static/css/color.css">
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand">Autelan</a>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/home?CurUser={{.CurUser}}">首页</a></li>
						<li><a href="/deviceinfo?CurUser={{.CurUser}}">设备信息</a></li>
						<li class="active"><a href="/search?CurUser={{.CurUser}}">搜索</a></li>
						<li><a href="/operecord?CurUser={{.CurUser}}">操作记录</a></li>
						<li><a href="/alarm?CurUser={{.CurUser}}">告警中心</a></li>
					</ul>
				</div>

				<div class="pull-right">
					<ul class="nav navbar-nav">
						<li id="CurUser"><a href="/login?exit=true">{{.CurUser}}</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container" style="width:700px ;padding-top: 6% ;align=center">
			<form class="form-inline" method="POST" action="/search?CurUser={{.CurUser}}">
  				<div class="form-group">
    					<label class="sr-only" for="searchCondition">查询条件</label>
    					<div class="input-group">
      						<input style="width:400px" type="text" class="form-control" id="searchCondition" name="searchCondition" placeholder="请输入查询条件(eg: lc=湖南&&fw=1.0.6.26&&...)">
    					</div>
 			 	</div>
				<button style="width:100px" type="submit" class="btn btn-primary" onclick="return CheckInput();">搜索</button>
				<script type="text/javascript">
				function CheckInput() {
				      	var search = document.getElementById("searchCondition");
				      	if (search.value.length == 0) {
				      		alert("请输入查询条件");
				      		return false;
					}
					return true;
				}
			      	</script>
			</form>
		</div>

		{{if .Show}}
		<div class="container" style="padding-top: 3% ;align=center">
		<tr>
			<td>
			<div class="rich-panel ">
				<div >
					<table style="width:100%;" border="1">
					<tbody>
						<tr>&nbsp;</tr>
						<tr>
							<td class="col1" align="right" style="font-size: 20px">每页显示:
								<a href="/search?ListCount=10&CurPage={{.CurPage}}&DevicesCount={{.DevicesNum}}&Mac={{.Mac}}&Ip={{.Ip}}&Lc={{.Lc}}&Lr={{.Lr}}&Fr={{.Fr}}&Dsn={{.Dsn}}&Fw={{.Fw}}&Ds={{.Ds}}&CurUser={{.CurUser}}" id="10" name="10" style="text-decoration:underline">10</a>
								<a href="/search?ListCount=20&CurPage={{.CurPage}}&DevicesCount={{.DevicesNum}}&Mac={{.Mac}}&Ip={{.Ip}}&Lc={{.Lc}}&Lr={{.Lr}}&Fr={{.Fr}}&Dsn={{.Dsn}}&Fw={{.Fw}}&Ds={{.Ds}}&CurUser={{.CurUser}}" id="20" name="20" style="text-decoration:underline">20</a>
								<a href="/search?ListCount=30&CurPage={{.CurPage}}&DevicesCount={{.DevicesNum}}&Mac={{.Mac}}&Ip={{.Ip}}&&Lc={{.Lc}}&Lr={{.Lr}}&Fr={{.Fr}}&Dsn={{.Dsn}}&Fw={{.Fw}}&Ds={{.Ds}}&CurUser={{.CurUser}}" id="30" name="30" style="text-decoration:underline">30</a>
								条
							</td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>
			</td>
		</tr>

		<div class="col1" align="center" style="font-size: 25px">
			<font color="red">{{.NoInfo}}</font>
		</idv>

		<table class="table table-condensed" border="1">
				<thead>
					<tr>
						<th>Mac地址(mac)</th>
						<th>IP地址(ip)</th>
						<th>IP归属地(lc)</th>
						<th>设备编号(dsn)</th>
						<th>首次注册时间(fr)</th>
						<th>最后注册时间(lr)</th>
						<th>固件版本(fw)</th>
						<th>设备状态(ds)</th>
						<th>下发命令</th>
						<!--
						<th>获取真正设备</th>
						-->
						<th>下发脚本</th>
					</tr>
				</thead>

				<tbody>
					{{range .Devices}}
					<tr>
						<th>{{.Mac}}</th>
						<th>{{.IpAddress}}</th>
						<th>{{.IpLocation}}</th>
						<th>{{.HostSn}}</th>
						<th>
							<script type="text/javascript">
								var formattime = {{.FirstRegistrationTime}};
								var sub = formattime.substr(0,19);
								formattime = sub.replace(/T/g," ")
								document.write(formattime)
							</script>
						</th>
						<th>
							<script type="text/javascript">
								var formattime = {{.LastRegistrationTime}};
								var sub = formattime.substr(0,19);
								formattime = sub.replace(/T/g," ")
								document.write(formattime)
							</script>
						</th>
						<th>{{.FirmwareVersion}}</th>
						{{if .State}}
						<th>在线</th>
						{{else}}
						<th>离线</th>
						{{end}}
						<th><a href="/command?mac={{.Mac}}&CurUser=admin">命令</a></th>
						<!--
						<th><a href="/getRealDevices?ip={{.IpAddress}}&CurUser=admin">获取</a></th>
						-->
						<th><a href="/script?mac={{.Mac}}&CurUser=admin">下发脚本</a></th>
						<script>
							function getAdmin(){
								var user = document.getElementById("CurUser");
								return user;
							}
						</script>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>

		<div style="padding-left: 0%">
			<tfoot>
					<tr>
						第{{.CurPage}}页，共{{.TotalPages}}页，共{{.DevicesNum}}条
					</tr>
			</tfoot>
		</div>

		<div align="center">
			<td style="font-size:20px" >
				<a href="/search?op=firstpage&ListCount={{.ListCount}}&CurPage={{.CurPage}}&DevicesCount={{.DevicesNum}}&Mac={{.Mac}}&Ip={{.Ip}}&Lc={{.Lc}}&Lr={{.Lr}}&Fr={{.Fr}}&Dsn={{.Dsn}}&Fw={{.Fw}}&Ds={{.Ds}}&CurUser={{.CurUser}}">首页</a>
				<a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<a href="/search?op=prepage&ListCount={{.ListCount}}&CurPage={{.CurPage}}&DevicesCount={{.DevicesNum}}&Mac={{.Mac}}&Ip={{.Ip}}&Lc={{.Lc}}&Lr={{.Lr}}&Fr={{.Fr}}&Dsn={{.Dsn}}&Fw={{.Fw}}&Ds={{.Ds}}&CurUser={{.CurUser}}">上一页</a>
				<a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<a href="/search?op=nextpage&ListCount={{.ListCount}}&CurPage={{.CurPage}}&DevicesCount={{.DevicesNum}}&Mac={{.Mac}}&Ip={{.Ip}}&Lc={{.Lc}}&Lr={{.Lr}}&Fr={{.Fr}}&Dsn={{.Dsn}}&Fw={{.Fw}}&Ds={{.Ds}}&CurUser={{.CurUser}}">下一页</a>
				<a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<a href="/search?op=lastpage&ListCount={{.ListCount}}&CurPage={{.CurPage}}&DevicesCount={{.DevicesNum}}&Mac={{.Mac}}&Ip={{.Ip}}&Lc={{.Lc}}&Lr={{.Lr}}&Fr={{.Fr}}&Dsn={{.Dsn}}&Fw={{.Fw}}&Ds={{.Ds}}&CurUser={{.CurUser}}">尾页</a>
			</td>
		</div>
		{{else}}
		{{end}}

	</body>
</html>
